<ion-content fullscreen class="ion-padding">
  <h1 class="page-title">🎁 Khuyến mãi hot nhất hôm nay</h1>

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-text-center">

      <!-- Promo 1 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="promo-card">
          <img src="assets/img/Holar-Blog-Coffee-vs.-Tea-7-Factors-to-Consider-Before-Drinking.webp" alt="Promo 1" />
          <div class="promo-info">
            <h2>☕ Giảm 30% cho đơn đầu tiên</h2>
            <p>Ưu đãi cho khách hàng mới khi đặt hàng lần đầu tại cửa hàng hoặc online.</p>
            <ion-button fill="solid" color="primary" size="small">Xem chi tiết</ion-button>
          </div>
        </div>
      </ion-col>

      <!-- Promo 2 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="promo-card">
          <img src="assets/img/Holar-Blog-Coffee-vs.-Tea-7-Factors-to-Consider-Before-Drinking.webp" alt="Promo 1" />

          <div class="promo-info">
            <h2>🍹 Mua 2 tặng 1</h2>
            <p>Thưởng thức 3 phần nước yêu thích với giá chỉ của 2 phần!</p>
            <ion-button fill="solid" color="tertiary" size="small">Xem chi tiết</ion-button>
          </div>
        </div>
      </ion-col>

      <!-- Promo 3 -->
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="promo-card">
          <img src="assets/img/Holar-Blog-Coffee-vs.-Tea-7-Factors-to-Consider-Before-Drinking.webp" alt="Promo 1" />

          <div class="promo-info">
            <h2>🍰 Combo bánh + nước chỉ 49k</h2>
            <p>Chọn ngay combo siêu tiết kiệm: bánh ngọt & đồ uống từ 49.000đ.</p>
            <ion-button fill="solid" color="warning" size="small">Xem chi tiết</ion-button>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
