<div class="app-container">
  <div class="sidebar">
    <div class="logo">☕ CoffeeSoft</div>
    <ul class="menu">
      <li class="active">Hệ thống</li>
      <li routerLink="/dashboard">DashBoard</li>
      <li routerLink="/users">Nhân Viên</li>
      <li routerLink="/store">Cửa hàng</li>
      <li routerLink="/table">Bàn</li>
      <li routerLink="/menu-item">Thực Đơn</li>
      <li routerLink="/noibo">Nội Bộ</li>
      <li routerLink="/order">Đặt và Thanh Toán</li>
      <li routerLink="/report">Báo cáo</li>
    </ul>

  </div>

  <div class="main-content mt-5">
    <div class="header">
      <div class="store-info">
        <strong>CoffeeSoft</strong> - 123 Trà Sữa, Quận 1, TP.HCM
      </div>
      <div class="datetime">
        <span>29/05/2025</span> | <span>17:32</span> | <span>USER: admin</span>
      </div>
    </div>

    <div class="module-container">
      <div class="module-panel">
        <div class="module-row">
          <div class="module-button" routerLink="/users">Quản Lý Nhân Viên</div>
          <div class="module-button" routerLink="/order">Quản lý Hóa Đơn</div>
          <div class="module-button" routerLink="/store">Quản Lý Cửa Hàng</div>
        </div>
        <div class="module-row">
          <div class="module-button" routerLink="/table">Danh sách bàn</div>
          <div class="module-button" routerLink="/menu-item">Quản lý thực đơn</div>
          <div class="module-button" routerLink="/discount">Khuyến mãi & điểm</div>
        </div>
      </div>

    </div>
  </div>
</div>
